{
	skip_install_trust

	{$CADDY_GLOBAL_OPTIONS}

	auto_https off

	frankenphp {
		{$FRANKENPHP_CONFIG}

		num_threads 4

		worker {
			file /var/www/public/index.php
			num 2
			{$FRANKENPHP_WORKER_CONFIG}
		}
	}

	servers {
		trusted_proxies static private_ranges
	}
}

{$CADDY_EXTRA_CONFIG}

http:// {
	bind tcp4/0.0.0.0
	encode zstd br gzip

	# HTTP caching
	@staticFilesCache {
		path /assets/*
		path /media/*
		path /static/*
		path /favicon.ico
	}

	@noCache {
		not path /assets/*
		not path /media/*
		not path /static/*
		not path /favicon.ico
	}

	header -Server

	header @staticFilesCache {
		Cache-Control "max-age=31536000"
		match status 2xx
	}

	header @noCache {
		Cache-Control "no-store, must-revalidate"
		Expires "0"
	}

	# status check
	handle /api/ping {
		respond "ok" 200
	}

	# prevent access to private files
	handle /private-files/ {
		respond 404
	}

	# prevent access to hidden files
	@forbidden {
		not path /.well-known/*
		path /.*
	}
	handle @forbidden {
		respond 404
	}

	log {
		# Redact the authorization query parameter that can be set by Mercure
		format filter {
			wrap console
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	root * /var/www/public/

	@api {
		not path /api/ping
		path /*
	}

	handle @api {
		php_server
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
